<template name="home">
  <div id="main">
    <ul class="nav nav-tabs nav-pills" role="tablist">
      <li class="{{ activeIfRouteIs '/'}}"><a href="/">Public</a></li>
      <li class="{{ activeIfRouteIs '/url/private' }}"><a href="/url/private">Private</a></li>
    </ul>
    <form id="input">
      <div class="form-group">
        <h4>1.Enter a long URL to make shortened</h4>
        <strong>Ex: http://www.abc.com</strong>
        <input id="long-url-input" class="form-control">
        <div class="checkbox">
          {{#if loginOrNot}}
            <label>
              <input type="checkbox" id="private"> Private
            </label>
          {{/if}}
        </div>
        <p>
          <input type="submit" value="Make a short URL!" class="btn btn-primary">
        </p>
        <h4>2.Custom your url</h4>
        <strong>http://shortenedurl.com/</strong>
        <input id="custom-url-input" class="form-control">
        <strong>May contain letters, numbers, and dashes.</strong>
      </div>
    </form>
      <div id="output">
        <h4>3.Your shortened URL</h4>
          {{>result}}
      </div>
  </div> 
</template>